.ulDecor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ulDecor:after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background-color: #AAAAAA;
}
.ulDecor li:last-of-type {
    margin-bottom: 8px;
}

.ulDecor li {
    padding-bottom: 23px;
}
.ulDecor li:hover, .ulDecor li:focus {
    transform: translateY(-3px);
    color: #080808;
    transition: 0.2s ease-in-out 0s;
}
.ulDecor li a svg {
    width: 20px;
    height: 20px;
}