.divDecor {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.divDecor:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: #AAAAAA;
}
.divDecor a {
    margin: 20px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}
.divDecor a:hover, .divDecor a:focus {
    transform: translateY(-3px);
    color: #080808;
    font-weight: 500;
    transition: 0.2s ease-in-out 0s;
}
